<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RabbitClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <RabbitClient.Properties.Settings>
            <setting name="databaseString" serializeAs="String">
                <value>data source=192.168.1.150;initial catalog=AIS20150424095026;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;</value>
            </setting>
        </RabbitClient.Properties.Settings>
    </applicationSettings>
</configuration>
